{% extends 'staff_list/base.html' %}

{%  block title %}
    Staff List
{%  endblock %}

{% block page_title %}
    Poppleton University Staff Directory
{% endblock %}

{% block content %}
    <p class="mb-4">
        Our current staff list is below. Click on a staff member's name to view their profile.
    </p>

    <div class="has-text-centered mb-4 mx-auto">
        {% if staff %}
            {% include 'staff_list/staff_table_open.html' %}
                {% for staff_member in staff %}
                    {% include 'staff_list/staff_table_row.html' %}
                {% endfor %}
            {% include 'staff_list/staff_table_close.html' %}
        {% else %}
            <p>
                There are no staff members to display.
            </p>
        {% endif %}
    </div>
    
{% endblock %}
