{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <link href="{% static "css/unipop.css" %}" rel="stylesheet">
    </head>
    <body>
        <div class="container is-fluid py-2">

            <header class="p-4 mb-4">
                <div class="columns is-align-items-center">
                    <div class="column is-one-third">
                        <img src="{% static "img/unipop.png" %}" alt="UniPop Logo">
                    </div>
                    <div class="column is-two-thirds has-text-centered">
                        <h1 class="title is-1">Meet Our Staff</h1>
                    </div>
                </div>
            </header>

            <main>
                <div class="columns">
                    <div class="column is-one-fifth has-text-centered">
                        <h1 class="title is-2 has-text-grey-darker">Menu</h1>
                    </div>
                    <div class="column is-four-fifths">
                        <h1 class="title is-1 has-text-grey-darker">
                            {% block page_title %}{% endblock %}
                        </h1>
                    
                        {% block content %}{% endblock %}
 
                    </div>
                </div>
            </main>

            <footer class="footer">
                <div class="content has-text-centered">
                    <p>&copy; 2024 University of Poppleton</p>
                </div>
            </footer>

        </div>

    </body>
</html>
